html {
    font-family:lato, sans-serif;
    background-color:rgb(242, 105, 92);
   
}

body {
    margin: 100px;
    background-color: rgb(242, 197, 114);
}  


h1 {
    font-family: 'Cutive Mono';
    font-weight: 400;
    font-style: normal;
    font-size: 32pt;
    color: black
}

h2 {
    font-family: lato, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    color: white
}

h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 26px;
  }

h4 {
font-family: Georgia, 'Times New Roman', Times, serif;
font-style: normal;
font-weight: 400;
font-size: 24px;
}

h5 { 
font-family: lato, serif;
font-style: italic;
font-weight: 400;
font-size: 22px;
}

h6 {
font-family: Georgia, 'Times New Roman', Times, serif;
font-style: normal;
font-weight: 400;
font-size: 18px;
}

p {
font-family: lato, serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
}

a:link
a:visited {
    color:black
}

a:hover {
    color:black}

a:active {
    color: #39A7BF}


    hr {border: 3px solid #000000;}

.button-default {
    background-color: #59A8D9; 
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
  }

  nav {
    background-color: rgb(242, 203, 189);
    padding: .5em;
    top: 0;
    position: sticky;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display:flex;
    justify-content: space-evenly;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: .5em 1em;
  }
  
  .photos {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1px;
  }
  
  .feature {
      width: 200px;
      float: left;
      padding: 20px;
  }

  .grid {
    margin: 0 auto;
    padding: .5em 1em;
    max-width: 980px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px
  }

  img {
    max-width: 100%;
    display: block;
}
  @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }

  


  