
html {
    background-color:#F7C8C2

}





.clock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #EE8888;
  font-size: 100px;
  font-family: Orbitron;
  letter-spacing: 7px;
 


}

h1 { 
    font-family: 'Bree Serif' ;
    font-weight: 400;
    font-style: normal;
    font-size: 26pt;
    color: black
}

h2 {
    font-family: 'Bree Serif';
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    color:  #EE8888
}

h3 {
  font-family: 'Elsie';
  font-weight: 400;
  font-size: 22px;
  color:  #EE8888
  }

h4 {
font-family: Georgia;
font-style: normal;
font-weight: 400;
font-size: 22px;
}

h5 { 
font-family: 'Cutive Mono';
font-style: italic;
font-weight: 400;
font-size: 17px;
}

h6 {
font-family: 'Lato', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 18px;
}


body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding: .5em 1em;
  margin: 100px;
  background-color:white
}




a:link
a:visited {
    color:rgb(89, 168, 217)
    
}

a:hover {
    color:rgb(34, 74, 89)
  }
  

a:active {
    color: black}


    hr {border: 3px solid #000000;}



    .button {
      background-color: #59A8D9; 
      border: black;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
    }

  nav {
    background-color: #EE8888;
    padding: .3em;
    top: 0;
    position: sticky;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display:flex;
    justify-content: space-evenly;
  }
  
  nav a {
    color: #fff;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    padding: .5em 1em;
  }
  
  .photos {
    list-style: none;
    margin: 0;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1px;
  }

  .border {
    border: 1px solid #000000;
  }
  
  .feature {
      width: 200px;
      float: left;
      padding: 20px;
  }

  .grid {
    margin: 0 auto;
    padding: 0 50px;
    max-width: 980px;
    display: grid;
    grid-template-columns: 3fr 1fr;
  }

  img {
    max-width: 100%;
    display: block;
    margin-top: 75px; 
  
}

.logo {
  font-size: 200%;
  padding: 50px 20px;
  margin: 0 auto;
  max-width: 980px;
}

p {
  float: inline-end;
  background-color:white;
  width: 45em;
  height: 5em;
  padding: .05em; 
}

.full-img {
  position: relative;
  display: block;
  width: 500px;
  height: 480px;

}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 600px;
  height: 480px;
  background-color: rgba(0,0,0,0);
  border: 3px solid pink
}

button {
  border: 0;
  background: rgb(242, 105, 92);
  text-shadow: 1px 1px 1px white;
  border: 1px solid #999;
  position: absolute;
  cursor: pointer;
  bottom: 2px;
  left: 2px;
}

.thumb-bar img {
  display: block;
  width: 200px;
  float: left;
  cursor: pointer;

}

.row {
  display: flex;
}



.column {
  flex: 33.33%;
  padding: 5px;
}

aside{
  margin-top: 100px;
  margin-right: 20px;
  float: right;
  width: 12em;
  height: 20em;
  padding: 1.25em;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }

  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  }

  


  