html {
    font-family:lato, sans-serif;
}

body {
    margin: 100px;
    background-color:white;
}

.grid {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 980px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px
  }

h1 {
    font-family: 'Bree Serif';
    font-weight: 400;
    font-style: normal;
    font-size: 32pt;
    color: black
}

h2 {
    font-family: 'Cutive';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    color: rgb(242, 105, 92)
}

h3 {
font-family: 'Elsie';
font-style: normal;
font-weight: 400;
font-size: 26px;
}

h4 {
font-family: 'Esteban';
font-style: normal;
font-weight: 400;
font-size: 24px;
}

h5 { 
font-family: 'Cutive';
font-style: italic;
font-weight: 400;
font-size: 22px;
}

h6 {
font-family: 'Esteban';
font-style: normal;
font-weight: 400;
font-size: 18px;
}

p {
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
}

a:link,
a:visited {
    color:black
}

a:hover {
    color:black}

a:active {
    color: #39A7BF}

hr {border: 3px solid #000000;}
